/* generador-de-claves-aleatorias.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e5ecf2;
}
.generador {
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
#result {
  background: #ddd;
  min-height: 30px;
  padding: 5px 13px;
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}
#result:focus {
  outline: none;
  border: 1px solid blue;
}
.text-right {
  text-align: right;
}
#btn {
  display: inline-block;
  color: #fff;
  background: #2196f3;
  text-decoration: none;
  padding: 8px 13px;
  border-radius: 4px;
}
